# Actividad 15

### Obtener la diferencia entre el salario más alto y el más pequeño.

### BÁSICA

In [3]:
import pandas as pd
import numpy as np

In [1]:
#diccionario anidado
dict1={
    "Nombre":["Ringo","John","Paul","George","Yoko"],
    "Edad":[45,34,42,38,47],
    "Salario":[12000,14000,13000,11000,10000],
    "Genero":["M","M","M","M","F"]    
}

In [4]:
#Trasnformar el diccionario en un data frame
data=pd.DataFrame(dict1)

In [11]:
#obtener la edad mas grande
salario_max=data["Salario"].max() 
salario_max

14000

In [13]:
#obtener la edad mas pequeña
salario_min=data["Salario"].min() 
salario_min

10000

In [14]:
diferencia=salario_max-salario_min

In [15]:
diferencia

4000

### AVANZADO

### Obtén los valores estadísticos de los salarios. (media, mediana, desviación estándar, etc)

In [17]:
data["Salario"].describe()

count        5.00000
mean     12000.00000
std       1581.13883
min      10000.00000
25%      11000.00000
50%      12000.00000
75%      13000.00000
max      14000.00000
Name: Salario, dtype: float64